// #include <zephyr/dt-bindings/pinctrl/nrf-pinctrl.h>
// #include <nordic/nrf52840_qiaa.dtsi>


/ {
	model = "ProMicro nRF52840 UF2";
	compatible = "nordic,nrf52840-dk-nrf52840";

    leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = < &gpio0 15 0x0 >;
			label = "Red LED";
		};
	};

    aliases {
        ledusr = &led0;

    };
};

